.device-preview {
  position: relative;
}

.device-preview-draw {
  position: relative;
}

.device-preview-draw-screen {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.device-preview-draw-wrapper {
  border-radius: 16%;
  position: absolute;
  overflow: hidden;
}

.device-preview-example {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.device-preview-watch {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
