.background-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.background-wrapper > .background-image {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
